{% extends 'base.html.twig' %}

{% block title %}CVOnline - Contact
{% endblock %}


{% block body %}
	<div class="d-flex justify-content-center mt-5">
		<div class="col-12 col-md-4 cadreProject m-1 p-5">
			<h1>Formulaire de contact</h1>
			<div class="">
				{{ form_start(our_form) }}
				{{ form_row(our_form.fullName, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="">
				{{ form_row(our_form.email, {'attr': {'class': 'form-control'}}) }}

			</div>
			<div class="">
				{{ form_row(our_form.message, {'attr': {'class': 'form-control'}}) }}

			</div>

			<div class="">
				<input type="submit" value="Envoyer" class="btn btn-primary py-3 px-5">
			</div>
			{{ form_end(our_form) }}
		</div>
	</div>

</div>{% endblock %}
