{% extends 'base.html.twig' %}

{% block title %}CVOnline - Accueil
{% endblock %}

{% block body %}
	<div class="col-12 col-md-8 mt-5 cadreProject">
		<div>
			<h1 class=" m-5">{{ project.projectName}}</h1>
			<div class="border border-dark rounded p-2 mb-2">
				<label for="">Description :</label>
				<p>{{ project.projectDescription}}</p>
			</div>
			<div class="border border-dark rounded p-2">
				<label for="">Langages utilisés :</label>
				<ul>
					{% for projectLanguage in projectLanguages %}


						<li>{{projectLanguage.languageName}}
							:
							{{projectLanguage.languageUse}}
							%
						</li>
					{% endfor %}
					<div class="progress">

						{% for projectLanguage in projectLanguages %}
							<div class="progress-bar" role="progressbar" style="width: {{projectLanguage.languageUse}}%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
						{% endfor %}
					</div>


				</ul>
			</div>
			<div class="mt-2 mb-2 border border-dark rounded p-2">
				<div>
					<label for="">Lien :</label>
					{% if project.projectLink %}
						<a class=" btn btn-info" href="{{ project.projectLink}}">Cliquer ici</a>
					{% else %}
						<p>Aucun lien ajouter à ce projet</p>
					{% endif %}
				</div>

			</div>
		</div>
	</div>

{% endblock %}
