{% extends 'base.html.twig' %}

{% block title %}CVOnline - Accueil
{% endblock %}

{% block body %}
	<div class="col-12 col-md-8 mt-5 cadreProject">
		<div>
			<h1 class=" m-5">{{ project.projectName}}</h1>
			<div class="border border-dark rounded p-2 mb-2">
				<label for="">
					<U>Description :</U>
				</label>
				<p>{{ project.projectDescription}}</p>
			</div>
			<div class="border border-dark rounded p-2">
				<label for="">
					<U>Langages utilisés :</U>
				</label>
				<ul>
					{% for projectLanguage in projectLanguages %}


						<li>{{projectLanguage.languageName}}
							:
							{{projectLanguage.languageUse}}
							%
						</li>
					{% endfor %}

				</ul>
			</div>
			<div class="mt-2 mb-2 border border-dark rounded p-2">
				<div>
					<label for="">
						<U>Lien :</U>
					</label>
					{% if project.projectLink %}
						<a class=" btn btn-info" target="_blank" href="{{ project.projectLink}}">Cliquer ici</a>
					{% else %}
						<p>Aucun lien ajouter à ce projet actuellement</p>
					{% endif %}
				</div>

			</div>
		</div>
	</div>

{% endblock %}
