<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}CVOnline
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																																																																																																																																																																																																				           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}


	</head>
	<body>

		<div class="container-fluid h-100">
			<div class="row h-100">
				<aside class="col-12 col-md-2 p-0 bg-dark taillelateral">
					<nav class="navbar navbar-expand-lg navbar-dark bg-dark flex-md-column flex-row align-items-start">
						<a class="navbar-brand" href="#">CV Online</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
							<ul class="flex-md-column navbar-nav mr-auto mt-2 mt-lg-0 w-100 justify-content-between">

								<li {% if app.request.attributes.get( '_route' ) starts with 'accueil' %} class="nav-item active" {% endif %}>
									<a class="nav-link" href="{{ path('accueil')}}">Accueil</a>
								</li>
								{% if not app.user %}
									<li {% if app.request.attributes.get( '_route' ) starts with 'create_account' %} class="nav-item active" {% endif %}>
										<a class="nav-link" href="{{ path('create_account')}}">Créer un compte</a>
									</li>
								{% endif %}

								<li {% if app.request.attributes.get( '_route' ) starts with 'dashboard' %} class="nav-item active" {% endif %}>
									<a class="nav-link" href="{{ path('dashboard')}}">Tableau de bord</a>
								</li>

								<li {% if app.request.attributes.get( '_route' ) starts with '#' %} class="nav-item active" {% endif %}>
									<a class="nav-link" href="#">CV</a>
								</li>
								<li {% if app.request.attributes.get( '_route' ) starts with '#' %} class="nav-item active" {% endif %}>
									<a class="nav-link" href="#">Projets</a>
								</li>

								{% if not app.user %}
									<li {% if app.request.attributes.get( '_route' ) starts with 'app_login' %} class="nav-item active" {% endif %}>
										<a class="nav-link" href="{{ path('app_login')}}">Connexion</a>
									</li>
								{% else %}
									<li {% if app.request.attributes.get( '_route' ) starts with 'app_logout' %} class="nav-item active" {% endif %}>
										<a class="nav-link" href="{{ path('app_logout')}}">Déconnexion</a>
									</li>
								{% endif %}

							</ul>
						</div>
					</nav>
				</aside>
				<main
					class="col">
					<!-- Insérez ici le contenu principal du site ou de l'application -->
					{% block body %}{% endblock %}
				</main>
			</div>
		</div>
	</body>
</html>

{% block javascripts %}

	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></scrip>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

	{{ encore_entry_script_tags('app') }}

	<script>
		$('.custom-file-input').on('change', function (event) {
var inputFile = event.currentTarget;
$(inputFile).parent().find('.custom-file-label').html(inputFile.files[0].name);
});
	</script>

{% endblock %}
