{% extends 'base.html.twig' %}

{% block title %}CVOnline - Ajouter un projet
{% endblock %}

{% block body %}
	<div class="container pt-5">
		<div class="d-flex justify-content-center">
			<div class="col-12 col-md-8 border border border-dark rounded p-4">
				<h1>
					{% if editMode %}
						Modification du projet
					{% else %}
						Ajout de projet
					{% endif %}
				</h1>

				{{ form_start(formProject) }}
				{{ form_row(formProject.projectName, {'label': 'Nom du projet','attr': {'placeholder':'le nom du projet'}}) }}
				{{ form_row(formProject.projectDescription, {'label': 'Description du projet','attr': {'placeholder':'Description du projet en quelques lignes', 'size': '15'}}}) }}
				{{ form_row(formProject.projectLink, {'label': 'Lien du projet','attr': {'placeholder':'facultatif'}) }}

				<h3>Langages</h3>
				<button type="button" class="add_item_link btn btn-success" data-collection-holder-class="language">Ajouter</button>
				<ul class="language" data-prototype="{{ form_widget(formProject.projectLanguage.vars.prototype)|e('html_attr') }}">
					{% for item in formProject.projectLanguage %}
						<li>{{ form_row(item) }}</li>
					{% endfor %}
				</ul>
				<div>
					<button type="submit" class="btn btn-success">
						{% if editMode %}
							Modifier
						{% else %}
							Créer
						{% endif %}
					</button>
					<a href="{{ path('dashboard')}}" class="btn btn-danger">Annuler</a>
					{{ form_end(formProject) }}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
