{% extends 'base.html.twig' %}

{% block title %}CVOnline - Tableau de bord
{% endblock %}

{% block body %}
	<div class="p-5">
		<div class="m-1">
			<a href="{{ path('create_project')}}" class="btn btn-success">Ajouter un projet</a>
		</div>

		<div class="mt-3">

			{% for project in paginationProject %}
				<div class="row d-flex justify-content-between cadreProject m-1 p-2">
					<div class="col-12 col-md-9">
						<div class="row">
							<h3>{{ project.projectName}}</h3>
						</div>
						<div class="row">
							{% for projectLanguage in projectLanguages %}
								{% if project.Id ==  projectLanguage.relationLanguage.id %}

									{{ projectLanguage.languageName}}
									:
									{{ projectLanguage.languageUse}}
									% ;

								{% endif %}
							{% endfor %}
						</div>
					</div>
					<div class="col-12 col-md-3 d-flex flex-row-reverse align-items-center">
						<div>
							<a href="{{ path('show_project', { 'id': project.id}) }}" class="btn btn-info">voir</a>
							<a href="{{ path('edit_project', { 'id': project.id}) }}" class="btn btn-success">éditer</a>
							<a href="{{ path('delete_project', { 'id': project.id}) }}" class="btn btn-danger">supprimer</a>
						</div>
					</div>

				</div>
			{% endfor %}


			<div class="navigation d-flex justify-content-center">
				{{ knp_pagination_render(paginationProject) }}
			</div>

		</div>

	</div>
{% endblock %}
